<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Registrar movimiento</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <app-register-movement-form
    [categories]="categories"
    [loadingCategories]="isLoadingCategories"
    [categoriesError]="categoriesError"
    [ufValue]="UF_VALUE"
    [isSubmitting]="isSubmitting"

    (submitForm)="handleSubmit($event)"
    (formDirtyChange)="isFormDirty = $event"
  >
  </app-register-movement-form>

</ion-content>