<ion-page>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar>

      <div class="nav-bar">

        <button routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
        </button>

        <button routerLink="/register-movement">
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>

        <button routerLink="/analysis">
          <ion-icon name="analytics-outline"></ion-icon>
        </button>

      </div>

    </ion-toolbar>
  </ion-footer>

</ion-page>