<ion-content fullscreen>

  <ng-container *ngIf="homeData">

      <app-home-balance-card
        [income]="homeData.totalIncome"
        [expense]="homeData.totalExpense"
        [balance]="homeData.balance"
        [userName]="userName">
      </app-home-balance-card>

      <div class="home-content">

        <app-home-expense-chart
          [categories]="homeData.categories">
        </app-home-expense-chart>

        <!-- Accesos rápidos -->
        <div class="quick-actions">

          <button class="quick-action-card">
            <div class="container">
              <div class="quick-action-card__icon">
                <ion-icon name="wallet-outline"></ion-icon>
              </div>
            </div>

            <p class="quick-action-card__title">Mis Metas</p>
            <p class="quick-action-card__subtitle">3 activas</p>
          </button>

          <button class="quick-action-card">
            <div class="container">
              <div class="quick-action-card__icon">
                <ion-icon name="trending-up-outline"></ion-icon>
              </div>
            </div>

            <p class="quick-action-card__title">Deudores</p>
            <p class="quick-action-card__subtitle">2 pendientes</p>
          </button>

        </div>

      </div>


  </ng-container>

</ion-content>